<script setup lang="ts">
import { ref } from "vue";
import {
  mdiArrowLeft,
  mdiCash,
  mdiQrcodeScan,
  mdiCreditCardScan,
  mdiReceiptTextOutline,
} from "@mdi/js";
const menu = ref([
  {
    id: 1,
    name: "คาปูชิโน :",
    price: 75,
    img: "https://i.pinimg.com/564x/22/be/04/22be041101bc3d08a156fc1cd4dd5801.jpg",
  },
  {
    id: 2,
    name: "ลาเต้ :",
    price: 65,
    img: "https://i.pinimg.com/564x/06/3f/39/063f39e12ac4a2cac33847ca74b77c6c.jpg",
  },
  {
    id: 3,
    name: "มอคค่า :",
    price: 70,
    img: "https://i.pinimg.com/564x/24/58/ef/2458eff64455bf2c622fb5aa79a58d9b.jpg",
  },
  {
    id: 4,
    name: "เอสเพรสโซ่ :",
    price: 80,
    img: "https://cdn.discordapp.com/attachments/958234035568652348/1062017048529608725/image.png",
  },
  {
    id: 5,
    name: "แฟลทไวท์ :",
    price: 85,
    img: "https://i.pinimg.com/564x/3c/0e/3f/3c0e3f52eaf7471087499dbba8d1006e.jpg",
  },
  {
    id: 6,
    name: "ชาเขียวนม :",
    price: 65,
    img: "https://i.pinimg.com/564x/49/9c/b6/499cb6f91b95ccec11998a3144246886.jpg",
  },
  {
    id: 7,
    name: "ชาเย็น :",
    price: 65,
    img: "https://i.pinimg.com/564x/38/93/55/389355b7d6bf2c20337cd04ce219b213.jpg",
  },
  {
    id: 8,
    name: "ชามะนาว :",
    price: 60,
    img: "https://i.pinimg.com/564x/9d/fa/51/9dfa51154e0c05355a32ecdafce85f11.jpg",
  },
  {
    id: 9,
    name: "โซดาผลไม้ :",
    price: 80,
    img: "https://i.pinimg.com/564x/6f/39/9e/6f399eb5b1f0eec28bd0991fbb22f56b.jpg",
  },
]);
</script>
<template>
  <v-card color="white" theme="dark" variant="text">
    <v-row>
      <v-col cols="6"> </v-col>
    </v-row>
  </v-card>
  <v-container>
    <v-flex>
      <v-btn color="rgb(139, 126, 116)" size="large"> เครื่องดื่ม </v-btn>
    </v-flex>
    <v-flex>
      <v-btn color="rgb(139, 126, 116)" size="large"> เบเกอรี่ </v-btn>
    </v-flex>
    <v-flex>
      <v-btn color="rgb(139, 126, 116)" size="large"> อาหาร </v-btn>
    </v-flex>

    <v-card
      v-card
      width="auto"
      height="400px"
      color="rgb(199, 188, 161)"
      theme="dark"
      class="overflow-auto"
    >
      <br />
      <v-row>
        <v-col cols="4" v-for="(item, index) of menu" :key="index">
          <v-card class="mx-auto" max-width="150">
            <v-img :src="item.img" width="150px" height="150px" cover> </v-img>
            <v-card-actions>
              <v-btn rounded="lg" size="small" class="ml-2"
                >{{ item.name }}{{ item.price }} บาท</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-col></v-col>

      <v-row class="justify-content-space-between"> </v-row>
      <br />
    </v-card>
    <br />
  </v-container>
  <v-row
    ><v-col cols="2.4"
      ><v-btn
        color="rgb(139, 126, 116)"
        size="100px"
        width="100px"
        class="ml-4"
      >
        <v-icon :icon="mdiArrowLeft"></v-icon>
        ย้อนกลับ
      </v-btn></v-col
    >
    <v-col cols="2.4"
      ><v-btn color="rgb(139, 126, 116)" size="100px" width="100px">
        <v-icon :icon="mdiReceiptTextOutline"></v-icon>
        ใบเสร็จ
      </v-btn></v-col
    >
    <v-col cols="2.4"
      ><v-btn color="rgb(139, 126, 116)" size="100px" width="100px">
        <v-icon :icon="mdiCash"></v-icon>
        เงินสด
      </v-btn></v-col
    >
    <v-col cols="2.4"
      ><v-btn color="rgb(139, 126, 116)" size="100px" width="100px">
        <v-icon :icon="mdiCreditCardScan"></v-icon>
        เครดิต
      </v-btn></v-col
    >
    <v-col cols="2"
      ><v-btn color="rgb(139, 126, 116)" size="100px" width="100px">
        <v-icon :icon="mdiQrcodeScan"></v-icon>
        คิวอาร์
      </v-btn></v-col
    >
  </v-row>
  <v-row>
    <br />
  </v-row>
</template>
